In [1]:
! pip install boto3 pymongo twitter --quiet

In [2]:
from pymongo import MongoClient

In [3]:
mongo_client = MongoClient('18.236.138.158', 27016)
database_reference = mongo_client.twitter
collection_reference = database_reference.tweets

In [4]:
cursor = collection_reference.find()

In [5]:
next(cursor)

{'_id': ObjectId('5b562057cfd9de0efb61d3b5'),
 'created_at': 'Sat Jul 21 20:58:43 +0000 2018',
 'id': 1020775097898917888,
 'id_str': '1020775097898917888',
 'text': 'Can’t wait to go home and play video games already smh',
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'truncated': False,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 3096943027,
  'id_str': '3096943027',
  'name': 'mattygeee',
  'screen_name': 'Mattygeee1',
  'location': 'Los Angeles, CA',
  'url': None,
  'description': None,
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 286,
  'friends_count': 399,
  'listed_count': 4,
  'favourites_count': 7501,
  'statuses_count': 17775,
  'created_at': 'Thu Mar 19 01:14:05 +0000 2015',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_link_color': 'E81C4F',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/976278641431650304/QDCKALf8_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/976278641431650304/QDCKALf8_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/3096943027/1522005281',
  'default_profile': False,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': None,
 'coordinates': None,
 'place': {'id': '59612bd882018c51',
  'url': 'https://api.twitter.com/1.1/geo/id/59612bd882018c51.json',
  'place_type': 'city',
  'name': 'Santa Monica',
  'full_name': 'Santa Monica, CA',
  'country_code': 'US',
  'country': 'United States',
  'bounding_box': {'type': 'Polygon',
   'coordinates': [[[-118.517358, 33.995177],
     [-118.517358, 34.050199],
     [-118.443482, 34.050199],
     [-118.443482, 33.995177]]]},
  'attributes': {}},
 'contributors': None,
 'is_quote_status': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [], 'urls': [], 'user_mentions': [], 'symbols': []},
 'favorited': False,
 'retweeted': False,
 'filter_level': 'low',
 'lang': 'en',
 'timestamp_ms': '1532206723080'}

In [6]:
cursor = collection_reference.find()

In [7]:
cursor.count()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

11748

In [8]:
collection_reference.count_documents({})

11798

In [9]:
cursor_sampl = collection_reference.aggregate(
    [{'$sample': {'size': 20}}]
)

In [10]:
len(list(cursor_sampl))

20

In [11]:
next(cursor_sampl)

StopIteration:

In [12]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [13]:
tw = next(cursor_sampl)

In [14]:
tw.keys()

dict_keys(['_id', 'created_at', 'id', 'id_str', 'text', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'possibly_sensitive', 'filter_level', 'lang', 'timestamp_ms'])

In [15]:
list(tw.values())[:5]

[ObjectId('5b58a82a3aed5a010fe90a0f'),
 'Wed Jul 25 16:37:06 +0000 2018',
 1022158813548306434,
 '1022158813548306434',
 'Dirk Nowitzki...\n21 consecutive seasons for the same franchise! Team player!!\nhttps://t.co/gloCZLbP2v']

In [16]:
import pandas as pd

In [17]:
cursor = collection_reference.aggregate([{'$sample': {'size': 5}}])

tw_sample_df = pd.DataFrame(list(cursor))

In [18]:
tw_sample_df.dtypes

_id                           object
contributors                  object
coordinates                   object
created_at                    object
display_text_range            object
entities                      object
extended_entities             object
extended_tweet                object
favorite_count                 int64
favorited                       bool
filter_level                  object
geo                           object
id                             int64
id_str                        object
in_reply_to_screen_name       object
in_reply_to_status_id        float64
in_reply_to_status_id_str     object
in_reply_to_user_id          float64
in_reply_to_user_id_str       object
is_quote_status                 bool
lang                          object
place                         object
possibly_sensitive            object
quote_count                    int64
reply_count                    int64
retweet_count                  int64
retweeted                       bool
source                        object
text                          object
timestamp_ms                  object
truncated                       bool
user                          object
dtype: object

In [19]:
tw_sample_df.select_dtypes([int])

,favorite_count,id,quote_count,reply_count,retweet_count
0,0,1022170898986500096,0,0,0
1,0,1020775097898917888,0,0,0
2,0,1022175057861328897,0,0,0
3,0,1022303333321588736,0,0,0
4,0,1022288723713581056,0,0,0

In [20]:
tw_sample_df.select_dtypes([float])

   in_reply_to_status_id  in_reply_to_user_id
0           1.021993e+18          711918170.0
1                    NaN                  NaN
2                    NaN                  NaN
3           1.021844e+18          504890998.0
4                    NaN                  NaN

In [21]:
tw_sample_df.select_dtypes(['object'])

,_id,contributors,coordinates,created_at,display_text_range,entities,extended_entities,extended_tweet,filter_level,geo,...,in_reply_to_screen_name,in_reply_to_status_id_str,in_reply_to_user_id_str,lang,place,possibly_sensitive,source,text,timestamp_ms,user
0,5b58b38f3aed5a010fe91355,None,None,Wed Jul 25 17:25:07 +0000 2018,"[33, 74]","{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 1022170888416849920, 'id_str...",NaN,low,None,...,Slob_On_My_Bob,1021993149231767559,711918170,en,"{'id': 'fbd6d2f5a4e4a15e', 'url': 'https://api...",False,"<a href=""http://twitter.com/download/iphone"" r...",@Slob_On_My_Bob @withlovejasmine I’m not ever ...,1532539507992,"{'id': 2162160829, 'id_str': '2162160829', 'na..."
1,5b5923de0cff4002d5673f84,None,None,Sat Jul 21 20:58:43 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,low,None,...,None,None,None,en,"{'id': '59612bd882018c51', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",Can’t wait to go home and play video games alr...,1532206723080,"{'id': 3096943027, 'id_str': '3096943027', 'na..."
2,5b58b74f3aed5a010fe916be,None,"{'type': 'Point', 'coordinates': [-120.3331, 3...",Wed Jul 25 17:41:39 +0000 2018,NaN,"{'hashtags': [{'text': 'vanderkitten', 'indice...",NaN,{'full_text': 'MTB XC USAC California State Ch...,low,"{'type': 'Point', 'coordinates': [39.30562, -1...",...,None,None,None,it,"{'id': 'fbd6d2f5a4e4a15e', 'url': 'https://api...",False,"<a href=""http://instagram.com"" rel=""nofollow"">...",MTB XC USAC California State Champion!! WC3 😁♥...,1532540499545,"{'id': 41531486, 'id_str': '41531486', 'name':..."
3,5b592dfa35c77d003438ac31,None,None,Thu Jul 26 02:11:22 +0000 2018,"[25, 76]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,low,None,...,snailmusic,1021844194694979584,504890998,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",@snailmusic @GlobalDubOR @KellieBurch @Polanco...,1532571082798,"{'id': 932333998159908864, 'id_str': '93233399..."
4,5b59245535c77d0014b73433,None,None,Thu Jul 26 01:13:19 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,NaN,low,None,...,None,None,None,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",It’s SOOOOO fucking hot.,1532567599596,"{'id': 721603736884236290, 'id_str': '72160373..."

In [22]:
tw_sample_df['created_at'] = pd.to_datetime(tw_sample_df['created_at'])

In [23]:
tw_sample_df.created_at

0   2018-07-25 17:25:07
1   2018-07-21 20:58:43
2   2018-07-25 17:41:39
3   2018-07-26 02:11:22
4   2018-07-26 01:13:19
Name: created_at, dtype: datetime64[ns]

## Tweets Containing Geo Information

In [24]:
contain_geo_search = collection_reference.find({'geo' : { '$ne' : None}})
contain_geo_search

In [25]:
collection_reference.count_documents({'geo' : { '$ne' : None}})

1581

## Distinct Users

#### TRY THIS

In [26]:
len(collection_reference.distinct('user'))

12428

In [27]:
collection_reference.count_documents({})

13198